.App {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
}
nav logo{
  text-align: left;
 
  font-size: 1.5em;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

nav a:hover {
  color: tomato;
}

h2{
  margin: 20px 50px;
}
