.App {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
}
nav logo{
  text-align: left;
  font-size: 1.5em;
}
nav ul a {
  display:block;
  color: black;
  text-decoration:none;
  font-weight:400;
  font-size:15px;
  padding:10px;
  font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  letter-spacing:1px;
}

nav ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
  list-style: none;
}

nav ul li:hover {
  background: #ddd ;
  border-radius: 10px;
}

nav ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  padding:0;
}

nav ul ul li {
  float:none;
  width:150px;
}

nav ul ul a {
  line-height:120%;
  padding:20px 15px;
}

nav ul li:hover > ul {
  display:block;
}


nav a:hover {
  color: whitesmoke;
}

h2{
  margin: 20px 50px;
}

.card{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}